{% extends 'calculator/base.html' %}
{% block content %}

<div class="page-content">
    <h1>Контакты</h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur consequatur est
        harum illum itaque unde! Ab, amet assumenda aut dicta doloremque et exercitationem explicabo ipsa iusto
        laborum libero magnam magni maxime minima, minus mollitia nulla odit officiis perferendis perspiciatis porro,
        quaerat quas repudiandae similique suscipit tempore temporibus voluptatem voluptates!</p>
    <br>
    <p>Свяжитесь с нами:</p>
    <ul>
        <li>Email: info@site-recipe-calc.test</li>
        <li>Телефон: +7 (123) 456-78-90</li>
        <li>Адрес: г. Бутербург, ул. Кулинарная, д. 1</li>
    </ul>
</div>

{% endblock %}
